
{
    "daemons":[
        {
            "host": "127.0.0.1",
            "port": "8888",
            "name": "bitmark",
            "symbol": "BTM",
            "user": "xxxxx",
            "password": "xxxxx"
        }
    ],

    "allows":[
        "getinfo",
        "getnewaddress",
        "getbalance",
        "listtransactions",
        "getaccountaddress",
        "validateaddress",
        "sendfrom"
    ]
}






