doctype html
html(ng-app="altcoinwallet")
    head
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js")
        script(src="/js/clip.js")
        script(src="/js/controller.js")
        link(rel="stylesheet", type="text/css", href="/css/style.css")
    body(ng-controller="wallet", style="background-color:rgb(46,49,50)")
        .nav
        .main
            .wallet(ng-repeat="(key, wallet) in wallets")
                .header(ng-click="wallet.show = !wallet.show",ng-value="key")
                    h3 {{key}}
                    span.balance {{wallet.balance}}
                .body(ng-show="wallet.show")
                        .leftpanel
                            .item
                                label Receive: 
                                span.recieve(clip-copy="wallet.address",ng-click="copy") {{wallet.address}}
                            .item
                                label Pay To:
                                input.address(type="text",ng-model="address",placeholder="Address")
                            .item
                                label Amount:
                                input.amount(type="text",ng-model="amount",placeholder="Amount")
                            .item
                                input.send(type="button",value="Send",ng-click="send(address,amount,key)")
                            .item
                                label 
                                span {{wallet.tip}}
                        .rightpanel
                            h4 Recent transactions
                            ul
                                li(ng-repeat="aki in wallet.transactions",class="tx {{aki.confirmations==0?'unconfirm':''}}")
                                    a.txid(href="{{wallet.explorer}}/tx/{{aki.txid}}") {{aki.address}}
                                    span.transamount {{aki.category == "send" ? "" : "+"}}{{aki.amount}}
            .addwallet Add New Wallet
