doctype html
html
    head
        title 优酷账号、爱奇艺账号、腾讯好莱坞账号、迅雷账号
        link(rel='stylesheet', href='/stylesheets/style.css')
        meta(name="keywords",content="腾讯好莱坞账号,腾讯VIP账号,迅雷账号,优酷账号,爱奇艺账号共享")
    body
        block content